<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jantrik.lloyds-list" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LloydsList</name>
    <description>
        A buy and sell portal
    </description>
    <author email="info@jantrik.com" href="http://www.jantrik.com">
        Jantrik Developers
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AutoHideSplashScreen" value="false" />
    <!--<preference name="ShowSplashScreenSpinner" value="false" />-->
    <preference name="splashscreen" value="icon" />
    <preference name="splashScreenDelay" value="6000" />
</widget>
