<div ng-controller="accessibilityController">
    <h5>Provide Source's Condition</h5>
    <table id="water-accessibility">
        <tr>
            <td><input type="radio" ng-model="source.accessibility" name="source-state" value="Accessible"/></td>
            <td>Accessible</td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="source.accessibility" name="source-state" value="Damages"/></td>
            <td>Damaged</td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="source.accessibility" name="source-state" value="Sediment"/></td>
            <td>Sediment</td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="source.accessibility" name="source-state" value="IndustrialWaste"/></td>
            <td>Polluted By Industrial Waste</td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="source.accessibility" name="source-state" value="AgriculturalWaste"/></td>
            <td>Polluted By Agricultural Waste</td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="source.accessibility" name="source-state" value="Chemical"/></td>
            <td>Polluted By Chemical</td>
        </tr>
        <tr>
            <td><input type="radio" ng-model="source.accessibility" name="source-state" value="Others"/></td>
            <td>Others</td>
        </tr>
        <tr>
            <td colspan="2"><input id="submit-quality" type="submit" value="Submit"
                                   ng-click="submit()" ng-disabled="!source.accessibility"/></td>
        </tr>
    </table>
</div>
