<ion-view>
    <ion-content class="sky-blue-background">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Login Id</span>
                <input type="text" ng-model="loginId">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login()">
                Login
            </button>
        </div>
    </ion-content>
</ion-view>
