<div class="list">
    <label class="item item-input">
        <input type="text" ng-model="loginId" placeholder="Username">
    </label>
    <label class="item item-input">
        <input type="password" ng-model="password" placeholder="Password">
    </label>
</div>
<div class="padding">
    <button class="button button-block button-positive" ng-click="login()">
        Login
    </button>
</div>
<a href="" style="padding: 2px;cursor: hand">
    <i class="i-con ion-arrow-right-b sp-home-place-up-arrow" ng-click="toggleRightBar()"></i>
</a>