<ion-view>
    <ion-content>
        <div data-tap-disabled="true">
            <div id='map'></div>
        </div>
        <div>Hello world</div>
    </ion-content>
</ion-view>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: absolute;
        top: 0px;
        bottom: 0;
        width: 100%;
        height: 800px;
    }

    table#water-quality tr {
        line-height: 25px;
    }

    svg, path {
        cursor: pointer;
    }
</style>
