<div class="button-bar bar-dark">
    <button class="button button-small" ng-click="showWaterQualityWindow()">Water Quality</button>


    <button class="button button-small" ng-click="showAccessibilityWindow()">Current Condition</button>


    <button class="button button-small" ng-click="showNotificationWindow()">Get Notification</button>


    <button class="button button-small" ng-click="showAddPhotoWindow()">Add Photos</button>


    <button class="button button-small" ng-click="showDemandAndSupplyWindow()">Demand & Supply</button>

</div>