<script type="text/template" id="water-source-description">
    <h4>Source Quality</h4>
    <table id="water-quality">
        <tr>
            <td style="color: #3d832c">Drinkable</td>
            <td id="PotableRatingPercent" style="color: #3d832c"></td>
        </tr>
        <td style="color: #ff7301">NeedTreatment</td>
        <td id="ProcessableRatingPercent" style="color: #ff7301"></td>
        </tr>
        <tr>
            <td style="color: #b40909">Undrinkable</td>
            <td id="UnpotableRatingPercent" style="color: #b40909"></td>
        </tr>
        <tr>
        <tr>
            <td style="color: #b68ada">Unknown</td>
            <td id="UnknownRatingPercent" style="color: #b68ada"></td>
        </tr>
    </table>
</script>