<div align="center">
    <form class="well" style="width: 450px;padding: 20px 30px 50px;" ng-submit="changePassword()">
        <h4 class="header-label">
            Change Password
        </h4>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon" style="padding-left: 11px;"><i style="color:lightgray" class="fa fa-fw fa-key"></i>Old Password </div>
                <input type="password" ng-model="changePasswordModel.oldPassword" class="form-control" placeholder="Old Password" name="OldPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i style="color:green" class="fa fa-fw fa-key"></i>New Password </div>
                <input type="password" ng-model="changePasswordModel.newPassword" class="form-control" placeholder="New Password" name="NewPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon" style="padding-left: 50px;"><i class="fa fa-fw fa-check-circle"></i>Confirm </div>
                <input type="password" ng-model="changePasswordModel.retypePassword" class="form-control" placeholder="Confirm Password" name="retypePassword">
            </div>
        </div>
        <div class="form-group" align="left">
            <input type="submit" class="btn btn-primary" value="Change Password" style="float:right;" />
        </div>
    </form>
</div>
